.form-home-section {
    padding: 170px 0;
    background-color: #DED9CB;
}

.form-home-section__content {
    margin: 0 auto;
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-home-section__title {
    grid-column: 2/12;
    color: #1F1B19;
    margin-bottom: 60px;
}

.form-home-section__buttons {
    justify-self: center;
    grid-column: 2/12;
    display: flex;
    gap: 20px;
}

.form-home-section__button-open-modal {
    background-color: #6E2430;
    border-radius: 0px;
    color: #F6F2EB;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.form-home-section__button-open-modal:hover {
    background-color: #A9814A;
    border: none;
}

.form-home-section__button-collections {
    border: 0.5px solid #1F1B19;
    border-radius: 0px;
    color: #1F1B19;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

.form-home-section__button-collections:hover {
    background-color: #A9814A;
    border: 0.5px solid #A9814A;
}

@media (max-width: 1170px) {
    .form-home-section__content {
        width: 100%;
        
    }
}

@media (max-width: 580px) {
    .form-home-section__buttons  {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .form-home-section__button-open-modal, .form-home-section__button-collections {
        width: 100%;
    }
}